.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  /* выше установили ограничения для секции */
  position: relative;
  align-items: center;
  overflow: hidden;
}
